@import "tailwindcss";
@source "../../../../packages/ui/src/**/*.{ts,tsx,js,jsx}";
@source "../../node_modules/@mistral/ui/dist/**/*.{ts,tsx,js,jsx}";

/*
:root {
  --mistral-orange: #fa520f;
  --mistral-beige: #fffaeb;
  --mistral-black: #101010;

  --background: #fffaeb;
  --foreground: #101010;
}

@theme inline {
  --color-mistral-orange: var(--mistral-orange);
  --color-mistral-beige: var(--mistral-beige);
  --color-mistral-black: var(--mistral-black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}*/
